.mtck-1-rhombus-to-4-rhombi_1 {
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);

  top: 6.2%;
  left: 34.5%;
}
.mtck-1-rhombus-to-4-rhombi_2 {
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);

  top: 6.2%;
  left: 61.5%;
}
.mtck-1-rhombus-to-4-rhombi_3 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  top: 25%;
  left: 75.3%;
}
.mtck-1-rhombus-to-4-rhombi_4 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  top: 50%;
  left: 75.3%;
}
.mtck-1-rhombus-to-4-rhombi_5 {
  -ms-transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);

  top: 68.9%;
  left: 61.7%;
}
.mtck-1-rhombus-to-4-rhombi_6 {
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);

  top: 68.9%;
  left: 34.6%;
}
.mtck-1-rhombus-to-4-rhombi_7 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 50%;
  left: 20.9%;
}
.mtck-1-rhombus-to-4-rhombi_8 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 25%;
  left: 20.9%;
}
.mtck-1-rhombus-to-4-rhombi_9 {
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);

  top: 31.3%;
  left: 34.6%;
}
.mtck-1-rhombus-to-4-rhombi_10 {
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);

  top: 31.3%;
  left: 61.6%;
}
.mtck-1-rhombus-to-4-rhombi_11 {
  -ms-transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);

  top: 44%;
  left: 61.4%;
}
.mtck-1-rhombus-to-4-rhombi_12 {
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);

  top: 44%;
  left: 34.6%;
}
