.two-squares-from-8-img-src_1::before {
  content: "";
  width: 100%;
  height: 100%;
  background-size: 108%;
  position: absolute;
  background-image: url(../images/matchstick.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0%;
}

/* .itr_coin_size-elem-for-two-squares-from-8 {
  width: 2.6%;
  height: 25.3%;
} */

.two-squares-from-8_1 {
  rotate: 270deg;
  top: -0.5%;
  left: 32.8%;
}
.two-squares-from-8_2 {
  rotate: 0deg;
  top: 11.8%;
  left: 17%;
}
.two-squares-from-8_3 {
  rotate: 270deg;
  top: -0.5%;
  left: 64.8%;
}
.two-squares-from-8_4 {
  rotate: 0deg;
  top: 37.4%;
  left: 17%;
}
.two-squares-from-8_5 {
  rotate: 0deg;
  top: 62.9%;
  left: 17%;
}
.two-squares-from-8_6 {
  rotate: 0deg;
  top: 11.8%;
  left: 48.7%;
}
.two-squares-from-8_7 {
  rotate: 0deg;
  top: 37.4%;
  left: 48.7%;
}
.two-squares-from-8_8 {
  rotate: 0deg;
  top: 62.9%;
  left: 48.7%;
}
.two-squares-from-8_9 {
  rotate: 0deg;
  top: 11.8%;
  left: 80.5%;
}
.two-squares-from-8_10 {
  rotate: 0deg;
  top: 37.4%;
  left: 80.5%;
}
.two-squares-from-8_11 {
  rotate: 0deg;
  top: 62.9%;
  left: 80.5%;
}
.two-squares-from-8_12 {
  rotate: 270deg;
  top: 24.8%;
  left: 33%;
}
.two-squares-from-8_13 {
  rotate: 270deg;
  top: 24.8%;
  left: 64.8%;
}
.two-squares-from-8_14 {
  rotate: 90deg;
  top: 50.1%;
  left: 32.7%;
}
.two-squares-from-8_15 {
  rotate: 270deg;
  top: 50.2%;
  left: 64.6%;
}
.two-squares-from-8_16 {
  rotate: 90deg;
  top: 75.7%;
  left: 32.7%;
}
.two-squares-from-8_17 {
  rotate: 270deg;
  top: 75.7%;
  left: 64.6%;
}
