.mtck-2-triangles-to-4_1 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 50%;
  left: 25%;
}
.mtck-2-triangles-to-4_2 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 39%;
  left: 33%;
}
.mtck-2-triangles-to-4_3 {
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);

  top: 39%;
  left: 17%;
}
.mtck-2-triangles-to-4_4 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 50%;
  left: 73%;
}
.mtck-2-triangles-to-4_5 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 39%;
  left: 81%;
}
.mtck-2-triangles-to-4_6 {
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);

  top: 39%;
  left: 65%;
}
