.two-trapeziums-to-3-triangles-img-src_1::before {
  content: "";
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: absolute;
  background-image: url(../images/matchstick.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.two-trapeziums-to-3-triangles_1 {
  rotate: 90deg;
  top: 15.2%;
  left: 33.2%;
}
.two-trapeziums-to-3-triangles_2 {
  rotate: 90deg;
  top: 15.2%;
  left: 64.6%;
}
.two-trapeziums-to-3-triangles_3 {
  rotate: 150deg;
  top: 26.2%;
  left: 25.2%;
}
.two-trapeziums-to-3-triangles_4 {
  rotate: 30deg;
  top: 48.2%;
  left: 25.2%;
}
.two-trapeziums-to-3-triangles_5 {
  rotate: 90deg;
  top: 37.1%;
  left: 49%;
}
.two-trapeziums-to-3-triangles_6 {
  rotate: 90deg;
  top: 59.2%;
  left: 33.2%;
}
.two-trapeziums-to-3-triangles_7 {
  rotate: 90deg;
  top: 59.2%;
  left: 64.6%;
}
.two-trapeziums-to-3-triangles_8 {
  rotate: 30deg;
  top: 26.2%;
  left: 72.5%;
}
.two-trapeziums-to-3-triangles_9 {
  rotate: 150deg;
  top: 48.1%;
  left: 72.5%;
}
