.mtck-2-trapeziums-to-3-triangles_1 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 15.2%;
  left: 33.2%;
}
.mtck-2-trapeziums-to-3-triangles_2 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 15.2%;
  left: 64.6%;
}
.mtck-2-trapeziums-to-3-triangles_3 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);

  top: 26.2%;
  left: 25.2%;
}
.mtck-2-trapeziums-to-3-triangles_4 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 48.2%;
  left: 25.2%;
}
.mtck-2-trapeziums-to-3-triangles_5 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 37.1%;
  left: 49%;
}
.mtck-2-trapeziums-to-3-triangles_6 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 59.2%;
  left: 33.2%;
}
.mtck-2-trapeziums-to-3-triangles_7 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 59.2%;
  left: 64.6%;
}
.mtck-2-trapeziums-to-3-triangles_8 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 26.2%;
  left: 72.5%;
}
.mtck-2-trapeziums-to-3-triangles_9 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);

  top: 48.1%;
  left: 72.5%;
}
