.changed-6-squares-to-4 {
  height: 24%;
}

.mtck-6-squares-to-4_1 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: -10%;
  left: 33.7%;
}
.mtck-6-squares-to-4_2 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 2%;
  left: 18.8%;
}
.mtck-6-squares-to-4_3 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 2%;
  left: 48.8%;
}
.mtck-6-squares-to-4_4 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 14%;
  left: 33.7%;
}
.mtck-6-squares-to-4_5 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 26%;
  left: 18.8%;
}
.mtck-6-squares-to-4_6 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 37.7%;
  left: 33.6%;
}
.mtck-6-squares-to-4_7 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 26%;
  left: 48.8%;
}
.mtck-6-squares-to-4_8 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 14%;
  left: 63.5%;
}
.mtck-6-squares-to-4_9 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 26%;
  left: 78.5%;
}
.mtck-6-squares-to-4_10 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 38%;
  left: 63.7%;
}
.mtck-6-squares-to-4_11 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 50%;
  left: 18.8%;
}
.mtck-6-squares-to-4_12 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 50%;
  left: 48.8%;
}
.mtck-6-squares-to-4_13 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 50%;
  left: 78.5%;
}
.mtck-6-squares-to-4_14 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 61.7%;
  left: 63.4%;
}
.mtck-6-squares-to-4_15 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 62.2%;
  left: 33.7%;
}
.mtck-6-squares-to-4_16 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 74.3%;
  left: 48.8%;
}
.mtck-6-squares-to-4_17 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 86%;
  left: 63.7%;
}
.mtck-6-squares-to-4_18 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 74.3%;
  left: 78.5%;
}
