.changed-cross-on-the-church-to-3-squares {
  height: 19%;
}
.mtck-cross-on-the-church-to-3-squares_1 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 69.2%;
  left: 24.5%;
}
.mtck-cross-on-the-church-to-3-squares_2 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 50%;
  left: 24.5%;
}
.mtck-cross-on-the-church-to-3-squares_3 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 40.7%;
  left: 36.5%;
}
.mtck-cross-on-the-church-to-3-squares_4 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 40.7%;
  left: 60.5%;
}
.mtck-cross-on-the-church-to-3-squares_5 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 50%;
  left: 72.2%;
}
.mtck-cross-on-the-church-to-3-squares_6 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 69.2%;
  left: 72.2%;
}
.mtck-cross-on-the-church-to-3-squares_7 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 79%;
  left: 60.2%;
}
.mtck-cross-on-the-church-to-3-squares_8 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 79%;
  left: 36.5%;
}
.mtck-cross-on-the-church-to-3-squares_9 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 31%;
  left: 48.5%;
}
.mtck-cross-on-the-church-to-3-squares_10 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 11.5%;
  left: 48.5%;
}
.mtck-cross-on-the-church-to-3-squares_11 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 21.2%;
  left: 36.4%;
}
.mtck-cross-on-the-church-to-3-squares_12 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 21.2%;
  left: 60.4%;
}
