.changed-five-pointed-stars {
  height: 19%;
}
.mtck-five-pointed-stars_1 {
  -ms-transform: rotate(18deg);
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);

  top: 35.7%;
  left: 32.8%;
}
.mtck-five-pointed-stars_2 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 26.7%;
  left: 48.5%;
}
.mtck-five-pointed-stars_3 {
  -ms-transform: rotate(162deg);
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg);

  top: 35.7%;
  left: 63.8%;
}
.mtck-five-pointed-stars_4 {
  -ms-transform: rotate(234deg);
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -o-transform: rotate(234deg);
  transform: rotate(234deg);

  top: 50.2%;
  left: 57.8%;
}
.mtck-five-pointed-stars_5 {
  -ms-transform: rotate(306deg);
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -o-transform: rotate(306deg);
  transform: rotate(306deg);

  top: 50.2%;
  left: 38.8%;
}
.mtck-five-pointed-stars_6 {
  -ms-transform: rotate(318deg);
  -webkit-transform: rotate(318deg);
  -moz-transform: rotate(318deg);
  -o-transform: rotate(318deg);
  transform: rotate(318deg);

  top: 37.6%;
  left: 20.9%;
}
.mtck-five-pointed-stars_7 {
  -ms-transform: rotate(258deg);
  -webkit-transform: rotate(258deg);
  -moz-transform: rotate(258deg);
  -o-transform: rotate(258deg);
  transform: rotate(258deg);

  top: 28.5%;
  left: 24.6%;
}
.mtck-five-pointed-stars_8 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 18.5%;
  left: 42.2%;
}
.mtck-five-pointed-stars_9 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 18.5%;
  left: 54.5%;
}
.mtck-five-pointed-stars_10 {
  -ms-transform: rotate(102deg);
  -webkit-transform: rotate(102deg);
  -moz-transform: rotate(102deg);
  -o-transform: rotate(102deg);
  transform: rotate(102deg);

  top: 28.5%;
  left: 72%;
}
.mtck-five-pointed-stars_11 {
  -ms-transform: rotate(42deg);
  -webkit-transform: rotate(42deg);
  -moz-transform: rotate(42deg);
  -o-transform: rotate(42deg);
  transform: rotate(42deg);

  top: 37.9%;
  left: 75.7%;
}
.mtck-five-pointed-stars_12 {
  -ms-transform: rotate(174deg);
  -webkit-transform: rotate(174deg);
  -moz-transform: rotate(174deg);
  -o-transform: rotate(174deg);
  transform: rotate(174deg);

  top: 54.4%;
  left: 68.2%;
}
.mtck-five-pointed-stars_13 {
  -ms-transform: rotate(114deg);
  -webkit-transform: rotate(114deg);
  -moz-transform: rotate(114deg);
  -o-transform: rotate(114deg);
  transform: rotate(114deg);

  top: 59.5%;
  left: 58.5%;
}
.mtck-five-pointed-stars_14 {
  -ms-transform: rotate(186deg);
  -webkit-transform: rotate(186deg);
  -moz-transform: rotate(186deg);
  -o-transform: rotate(186deg);
  transform: rotate(186deg);

  top: 54.3%;
  left: 28.5%;
}
.mtck-five-pointed-stars_15 {
  -ms-transform: rotate(246deg);
  -webkit-transform: rotate(246deg);
  -moz-transform: rotate(246deg);
  -o-transform: rotate(246deg);
  transform: rotate(246deg);

  top: 59.6%;
  left: 38.2%;
}
