.mtck-halving-the-egyptian-triangle_1 {
  -ms-transform: rotate(143deg);
  -webkit-transform: rotate(143deg);
  -moz-transform: rotate(143deg);
  -o-transform: rotate(143deg);
  transform: rotate(143deg);

  top: -0.7%;
  left: 11%;
}
.mtck-halving-the-egyptian-triangle_2 {
  -ms-transform: rotate(143deg);
  -webkit-transform: rotate(143deg);
  -moz-transform: rotate(143deg);
  -o-transform: rotate(143deg);
  transform: rotate(143deg);

  top: 18.4%;
  left: 29.2%;
}
.mtck-halving-the-egyptian-triangle_3 {
  -ms-transform: rotate(143deg);
  -webkit-transform: rotate(143deg);
  -moz-transform: rotate(143deg);
  -o-transform: rotate(143deg);
  transform: rotate(143deg);

  top: 37.8%;
  left: 47.3%;
}
.mtck-halving-the-egyptian-triangle_4 {
  -ms-transform: rotate(143deg);
  -webkit-transform: rotate(143deg);
  -moz-transform: rotate(143deg);
  -o-transform: rotate(143deg);
  transform: rotate(143deg);

  top: 57%;
  left: 65.6%;
}
.mtck-halving-the-egyptian-triangle_5 {
  -ms-transform: rotate(143deg);
  -webkit-transform: rotate(143deg);
  -moz-transform: rotate(143deg);
  -o-transform: rotate(143deg);
  transform: rotate(143deg);

  top: 76%;
  left: 83.3%;
}
.mtck-halving-the-egyptian-triangle_6 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 86%;
  left: 77%;
}
.mtck-halving-the-egyptian-triangle_7 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 86%;
  left: 47.6%;
}
.mtck-halving-the-egyptian-triangle_8 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 86%;
  left: 18%;
}
.mtck-halving-the-egyptian-triangle_9 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 73.2%;
  left: 2.4%;
}
.mtck-halving-the-egyptian-triangle_10 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 49.4%;
  left: 2.4%;
}
.mtck-halving-the-egyptian-triangle_11 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 25.6%;
  left: 2.4%;
}
.mtck-halving-the-egyptian-triangle_12 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 2%;
  left: 2.4%;
}
