.mtck-heart-into-4-triangles_1 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 14.2%;
  left: 24%;
}
.mtck-heart-into-4-triangles_2 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);

  top: 35.9%;
  left: 24.5%;
}
.mtck-heart-into-4-triangles_3 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);

  top: 57.7%;
  left: 40.5%;
}
.mtck-heart-into-4-triangles_4 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 14.2%;
  left: 40.5%;
}
.mtck-heart-into-4-triangles_5 {
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);

  top: 36%;
  left: 40.4%;
}
.mtck-heart-into-4-triangles_6 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);

  top: 36%;
  left: 56%;
}
.mtck-heart-into-4-triangles_7 {
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);

  top: 57.8%;
  left: 56.3%;
}
.mtck-heart-into-4-triangles_8 {
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);

  top: 36%;
  left: 72%;
}
.mtck-heart-into-4-triangles_9 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 14.2%;
  left: 71.6%;
}
.mtck-heart-into-4-triangles_10 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 14.2%;
  left: 55.6%;
}
