.mtck-hexagram-to-6-diamonds_1 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 48.5%;
  left: 8%;
}
.mtck-hexagram-to-6-diamonds_2 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 59.7%;
  left: 16.2%;
}
.mtck-hexagram-to-6-diamonds_3 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 48.5%;
  left: 24.2%;
}
.mtck-hexagram-to-6-diamonds_4 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 26.7%;
  left: 8%;
}
.mtck-hexagram-to-6-diamonds_5 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 15.5%;
  left: 16.2%;
}
.mtck-hexagram-to-6-diamonds_6 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 26.7%;
  left: 23.5%;
}
.mtck-hexagram-to-6-diamonds_7 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 4.5%;
  left: 39.5%;
}
.mtck-hexagram-to-6-diamonds_8 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 4.5%;
  left: 54.8%;
}
.mtck-hexagram-to-6-diamonds_9 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 15.5%;
  left: 47.5%;
}
.mtck-hexagram-to-6-diamonds_10 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 26.7%;
  left: 70.7%;
}
.mtck-hexagram-to-6-diamonds_11 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 15.5%;
  left: 78.7%;
}
.mtck-hexagram-to-6-diamonds_12 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 26.7%;
  left: 86.4%;
}
.mtck-hexagram-to-6-diamonds_13 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 48.5%;
  left: 86.5%;
}
.mtck-hexagram-to-6-diamonds_14 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 59.7%;
  left: 78.7%;
}
.mtck-hexagram-to-6-diamonds_15 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 48.5%;
  left: 70.7%;
}
.mtck-hexagram-to-6-diamonds_16 {
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);

  top: 70.5%;
  left: 55.2%;
}
.mtck-hexagram-to-6-diamonds_17 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);

  top: 70.5%;
  left: 40.2%;
}
.mtck-hexagram-to-6-diamonds_18 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 59.7%;
  left: 47.5%;
}
