.mtck-hexa-six-divide-into-4_1 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 5%;
  left: 67%;
}
.mtck-hexa-six-divide-into-4_2 {
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);

  top: 16%;
  left: 75.1%;
}
.mtck-hexa-six-divide-into-4_3 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);

  top: 37.8%;
  left: 75.3%;
}
.mtck-hexa-six-divide-into-4_4 {
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);

  top: 59.5%;
  left: 75%;
}
.mtck-hexa-six-divide-into-4_5 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 70.5%;
  left: 51.5%;
}
.mtck-hexa-six-divide-into-4_6 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 59.5%;
  left: 27.8%;
}
.mtck-hexa-six-divide-into-4_7 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 37.7%;
  left: 27.6%;
}
.mtck-hexa-six-divide-into-4_8 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 15.9%;
  left: 43.5%;
}
.mtck-hexa-six-divide-into-4_9 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 9.6%;
  left: 26.1%;
}
.mtck-hexa-six-divide-into-4_10 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 9.6%;
  left: 21.3%;
}
.mtck-hexa-six-divide-into-4_11 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 9.6%;
  left: 16.6%;
}
.mtck-hexa-six-divide-into-4_12 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 9.6%;
  left: 11.7%;
}
