.mtck-match-similarity_1 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 13.2%;
  left: 64.7%;
}
.mtck-match-similarity_2 {
  -ms-transform: rotate(194deg);
  -webkit-transform: rotate(194deg);
  -moz-transform: rotate(194deg);
  -o-transform: rotate(194deg);
  transform: rotate(194deg);

  top: 25.5%;
  left: 44.8%;
}
.mtck-match-similarity_3 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 37.5%;
  left: 25.4%;
}
.mtck-match-similarity_4 {
  -ms-transform: rotate(194deg);
  -webkit-transform: rotate(194deg);
  -moz-transform: rotate(194deg);
  -o-transform: rotate(194deg);
  transform: rotate(194deg);

  top: 49.8%;
  left: 5.9%;
}
.mtck-match-similarity_5 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 62.1%;
  left: 17.9%;
}
.mtck-match-similarity_6 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 62.1%;
  left: 49.5%;
}
.mtck-match-similarity_7 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 62.1%;
  left: 81%;
}
.mtck-match-similarity_8 {
  -ms-transform: rotate(346deg);
  -webkit-transform: rotate(346deg);
  -moz-transform: rotate(346deg);
  -o-transform: rotate(346deg);
  transform: rotate(346deg);

  top: 49.8%;
  left: 92.3%;
}
.mtck-match-similarity_9 {
  -ms-transform: rotate(346deg);
  -webkit-transform: rotate(346deg);
  -moz-transform: rotate(346deg);
  -o-transform: rotate(346deg);
  transform: rotate(346deg);

  top: 25.3%;
  left: 84.4%;
}
.mtck-match-similarity_10 {
  -ms-transform: rotate(346deg);
  -webkit-transform: rotate(346deg);
  -moz-transform: rotate(346deg);
  -o-transform: rotate(346deg);
  transform: rotate(346deg);

  top: 50%;
  left: 45.1%;
}
