.mtck-not-any-rhombus_1 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 70.5%;
  left: 32.5%;
}
.mtck-not-any-rhombus_2 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 70.5%;
  left: 64.2%;
}
.mtck-not-any-rhombus_3 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 59.8%;
  left: 87.6%;
}
.mtck-not-any-rhombus_4 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 37.7%;
  left: 87.8%;
}
.mtck-not-any-rhombus_5 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 15.7%;
  left: 72%;
}
.mtck-not-any-rhombus_6 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 5%;
  left: 48.4%;
}
.mtck-not-any-rhombus_7 {
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);

  top: 15.7%;
  left: 25%;
}
.mtck-not-any-rhombus_8 {
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);

  top: 37.7%;
  left: 9.1%;
}
.mtck-not-any-rhombus_9 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);

  top: 59.6%;
  left: 9%;
}
.mtck-not-any-rhombus_10 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 48.5%;
  left: 80.3%;
}
.mtck-not-any-rhombus_11 {
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);

  top: 59.8%;
  left: 56.6%;
}
.mtck-not-any-rhombus_12 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 59.8%;
  left: 40.4%;
}
.mtck-not-any-rhombus_13 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 48.5%;
  left: 17%;
}
.mtck-not-any-rhombus_14 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 37.5%;
  left: 40.5%;
}
.mtck-not-any-rhombus_15 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);

  top: 37.5%;
  left: 56.4%;
}
.mtck-not-any-rhombus_16 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 26.8%;
  left: 64%;
}
.mtck-not-any-rhombus_17 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 26.8%;
  left: 32.7%;
}
.mtck-not-any-rhombus_18 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);

  top: 15.8%;
  left: 40.8%;
}
