.mtck-reversing-the-house_1 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  /* rotate: 270deg; */
  top: 13.7%;
  left: 49.4%;
}
.mtck-reversing-the-house_2 {
  -ms-transform: rotate(329deg);
  -webkit-transform: rotate(329deg);
  -moz-transform: rotate(329deg);
  -o-transform: rotate(329deg);
  transform: rotate(329deg);

  /* rotate: 329deg; */
  top: 24.7%;
  left: 73.1%;
}
.mtck-reversing-the-house_3 {
  -ms-transform: rotate(329deg);
  -webkit-transform: rotate(329deg);
  -moz-transform: rotate(329deg);
  -o-transform: rotate(329deg);
  transform: rotate(329deg);

  /* rotate: 329deg; */
  top: 24.7%;
  left: 41.8%;
}
.mtck-reversing-the-house_4 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  /* rotate: 30deg; */
  top: 24.7%;
  left: 25.3%;
}
.mtck-reversing-the-house_5 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  /* rotate: 270deg; */
  top: 35.7%;
  left: 33.3%;
}
.mtck-reversing-the-house_6 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  /* rotate: 270deg; */
  top: 35.7%;
  left: 64.8%;
}
.mtck-reversing-the-house_7 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  /* rotate: 0deg; */
  top: 48%;
  left: 17.3%;
}
.mtck-reversing-the-house_8 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  /* rotate: 270deg; */
  top: 60.5%;
  left: 32.9%;
}
.mtck-reversing-the-house_9 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  /* rotate: 0deg; */
  top: 48%;
  left: 49%;
}
.mtck-reversing-the-house_10 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  /* rotate: 270deg; */
  top: 60.5%;
  left: 64.9%;
}
.mtck-reversing-the-house_11 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  /* rotate: 0deg; */
  top: 48%;
  left: 80.5%;
}
