.mtck-six-squares_1 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 12.5%;
  left: 32.5%;
}
.mtck-six-squares_2 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 25%;
  left: 48.4%;
}
.mtck-six-squares_3 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 37.5%;
  left: 32.5%;
}
.mtck-six-squares_4 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  top: 25%;
  left: 16.8%;
}
.mtck-six-squares_5 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  top: 50%;
  left: 48.7%;
}
.mtck-six-squares_6 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 62.5%;
  left: 32.7%;
}
.mtck-six-squares_7 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 50%;
  left: 16.8%;
}
.mtck-six-squares_8 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 62.5%;
  left: 64.2%;
}
.mtck-six-squares_9 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 50%;
  left: 80%;
}
.mtck-six-squares_10 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 37.5%;
  left: 64.2%;
}
.mtck-six-squares_11 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  top: 29%;
  left: 37.5%;
}
.mtck-six-squares_12 {
  -ms-transform: rotate(285deg);
  -webkit-transform: rotate(285deg);
  -moz-transform: rotate(285deg);
  -o-transform: rotate(285deg);
  transform: rotate(285deg);

  top: 17.3%;
  left: 33.8%;
}
.mtck-six-squares_13 {
  -ms-transform: rotate(165deg);
  -webkit-transform: rotate(165deg);
  -moz-transform: rotate(165deg);
  -o-transform: rotate(165deg);
  transform: rotate(165deg);

  top: 26%;
  left: 22.8%;
}
.mtck-six-squares_14 {
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);

  top: 46.2%;
  left: 59.6%;
}
.mtck-six-squares_15 {
  -ms-transform: rotate(345deg);
  -webkit-transform: rotate(345deg);
  -moz-transform: rotate(345deg);
  -o-transform: rotate(345deg);
  transform: rotate(345deg);

  top: 49.2%;
  left: 74%;
}
.mtck-six-squares_16 {
  -ms-transform: rotate(105deg);
  -webkit-transform: rotate(105deg);
  -moz-transform: rotate(105deg);
  -o-transform: rotate(105deg);
  transform: rotate(105deg);

  top: 57.8%;
  left: 62.8%;
}
