html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  line-height: 1.12;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ==========itr_coin_wrap============= */
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.itr_coin_wrap {
  position: relative;
  margin: 20px;
}

p {
  text-align: center;
  font-size: 20px;
}

.itr_coin--width {
  display: flex;
  width: 105px;
  height: 130px;
  width: 200px;
  height: 250px;
  background-color: #fdecaf;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.itr_coin_elem {
  content: "";
  position: absolute;

  width: 7px;
  height: 25%;

  background-image: url(../images/matchstick.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  /* background-color: aliceblue; */
  /* outline: 1px solid black; */
  /* border-radius: 20px; */
}

.mtck-wrap {
  /* width: 105px;
  height: 130px; */
  /* width: 200px;
  height: 250px; */
  /* margin: 7px auto;
  position: relative; */
  display: flex;
  width: 105px;
  height: 130px;
  width: 200px;
  height: 250px;
  background-color: #fdecaf;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.mtck-elem {
  content: "";
  position: absolute;

  width: 7px;
  height: 25%;
  /* background-image: url(../up_images/new_images/sec-mtck/matchstick.svg); */
  background-image: url(../images/matchstick.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* outline: 1px solid black; */
  /* border-radius: 20px; */
}

.line1 {
  top: 50%;
  width: 100%;
  position: absolute;
  outline: 1px dotted black;
}
.line2 {
  height: 100%;
  left: 50%;
  position: absolute;
  outline: 1px dotted black;
  rotate: 0deg;
}

.error {
  color: red;
  font-weight: 700;
}
