.mtck-the-book_1 {
  -ms-transform: rotate(290deg);
  -webkit-transform: rotate(290deg);
  -moz-transform: rotate(290deg);
  -o-transform: rotate(290deg);
  transform: rotate(290deg);

  top: 28%;
  left: 33.7%;
}
.mtck-the-book_2 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 45%;
  left: 48.5%;
}
.mtck-the-book_3 {
  -ms-transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -o-transform: rotate(70deg);
  transform: rotate(70deg);

  top: 28%;
  left: 63.5%;
}
.mtck-the-book_4 {
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);

  top: 26%;
  left: 34.8%;
}
.mtck-the-book_5 {
  -ms-transform: rotate(310deg);
  -webkit-transform: rotate(310deg);
  -moz-transform: rotate(310deg);
  -o-transform: rotate(310deg);
  transform: rotate(310deg);

  top: 24%;
  left: 36.5%;
}
.mtck-the-book_6 {
  -ms-transform: rotate(290deg);
  -webkit-transform: rotate(290deg);
  -moz-transform: rotate(290deg);
  -o-transform: rotate(290deg);
  transform: rotate(290deg);

  top: 53.5%;
  left: 33.7%;
}
.mtck-the-book_7 {
  -ms-transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -o-transform: rotate(70deg);
  transform: rotate(70deg);

  top: 53.5%;
  left: 62.8%;
}
.mtck-the-book_8 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 36.5%;
  left: 19%;
}
.mtck-the-book_9 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 36.5%;
  left: 78%;
}
