.changed-the-pig-puzzle {
  height: 19%;
}
.mtck-the-pig-puzzle_1 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 30.2%;
  left: 36%;
}
.mtck-the-pig-puzzle_2 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 30.2%;
  left: 60%;
}
.mtck-the-pig-puzzle_3 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 39.7%;
  left: 72.2%;
}
.mtck-the-pig-puzzle_4 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 49.5%;
  left: 60%;
}
.mtck-the-pig-puzzle_5 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 49.5%;
  left: 36.2%;
}
.mtck-the-pig-puzzle_6 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 39.7%;
  left: 24%;
}
.mtck-the-pig-puzzle_7 {
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);

  top: 23.5%;
  left: 15.5%;
}
.mtck-the-pig-puzzle_8 {
  -ms-transform: rotate(115deg);
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);

  top: 34.5%;
  left: 82.8%;
}
.mtck-the-pig-puzzle_9 {
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);

  top: 44.5%;
  left: 82.5%;
}
.mtck-the-pig-puzzle_10 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);

  top: 57.5%;
  left: 78.2%;
}
.mtck-the-pig-puzzle_11 {
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);

  top: 57.5%;
  left: 66%;
}
.mtck-the-pig-puzzle_12 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);

  top: 57.5%;
  left: 30.2%;
}
.mtck-the-pig-puzzle_13 {
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);

  top: 57.5%;
  left: 18.5%;
}
