.mtck-the-arrow-2_1 {
  -ms-transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);

  top: 18.4%;
  left: 35%;
}
.mtck-the-arrow-2_2 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 25%;
  left: 48.2%;
}
.mtck-the-arrow-2_3 {
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);

  top: 18.4%;
  left: 62.2%;
}
.mtck-the-arrow-2_4 {
  -ms-transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);

  top: 43.5%;
  left: 35%;
}
.mtck-the-arrow-2_5 {
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);

  top: 43.5%;
  left: 62.2%;
}
.mtck-the-arrow-2_6 {
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);

  top: 56.3%;
  left: 35%;
}
.mtck-the-arrow-2_7 {
  -ms-transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);

  top: 56.3%;
  left: 62.2%;
}
