.mtck-the-arrow-2_1 {
  -ms-transform: rotate(230deg);
  -webkit-transform: rotate(230deg);
  -moz-transform: rotate(230deg);
  -o-transform: rotate(230deg);
  transform: rotate(230deg);

  top: 14.9%;
  left: 36%;
}
.mtck-the-arrow-2_2 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 19.2%;
  left: 48.2%;
}
.mtck-the-arrow-2_3 {
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);

  top: 15.5%;
  left: 59.2%;
}
.mtck-the-arrow-2_4 {
  -ms-transform: rotate(230deg);
  -webkit-transform: rotate(230deg);
  -moz-transform: rotate(230deg);
  -o-transform: rotate(230deg);
  transform: rotate(230deg);

  top: 40%;
  left: 36.5%;
}
.mtck-the-arrow-2_5 {
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);

  top: 40.5%;
  left: 59.5%;
}
.mtck-the-arrow-2_6 {
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);

  top: 56.8%;
  left: 36.2%;
}
.mtck-the-arrow-2_7 {
  -ms-transform: rotate(230deg);
  -webkit-transform: rotate(230deg);
  -moz-transform: rotate(230deg);
  -o-transform: rotate(230deg);
  transform: rotate(230deg);

  top: 57.7%;
  left: 59%;
}
