.the-facade-of-a-house_1 {
  -ms-transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -o-transform: rotate(70deg);
  transform: rotate(70deg);

  top: 23.2%;
  left: 29.2%;
}
.the-facade-of-a-house_2 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 27%;
  left: 30%;
}
.the-facade-of-a-house_3 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 27.6%;
  left: 67.5%;
}
.the-facade-of-a-house_4 {
  -ms-transform: rotate(290deg);
  -webkit-transform: rotate(290deg);
  -moz-transform: rotate(290deg);
  -o-transform: rotate(290deg);
  transform: rotate(290deg);

  top: 23.4%;
  left: 68%;
}
.the-facade-of-a-house_5 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 40%;
  left: 48.8%;
}
.the-facade-of-a-house_6 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 52.7%;
  left: 67.5%;
}
.the-facade-of-a-house_7 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 53%;
  left: 30.1%;
}
.the-facade-of-a-house_8 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 40%;
  left: 67.7%;
}
.the-facade-of-a-house_9 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 40%;
  left: 83.1%;
}
.the-facade-of-a-house_10 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 40%;
  left: 29.9%;
}
.the-facade-of-a-house_11 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 40%;
  left: 14.5%;
}
