.the-mountain_1 {
  -ms-transform: rotate(22deg);
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  transform: rotate(22deg);

  top: 73.2%;
  left: 7.5%;
}
.the-mountain_2 {
  -ms-transform: rotate(22deg);
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  transform: rotate(22deg);

  top: 49.7%;
  left: 19.2%;
}
.the-mountain_3 {
  -ms-transform: rotate(22deg);
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  transform: rotate(22deg);

  top: 26.4%;
  left: 31.1%;
}
.the-mountain_4 {
  -ms-transform: rotate(22deg);
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  transform: rotate(22deg);

  top: 3.2%;
  left: 42.8%;
}
.the-mountain_5 {
  -ms-transform: rotate(158deg);
  -webkit-transform: rotate(158deg);
  -moz-transform: rotate(158deg);
  -o-transform: rotate(158deg);
  transform: rotate(158deg);

  top: 3.2%;
  left: 55%;
}
.the-mountain_6 {
  -ms-transform: rotate(158deg);
  -webkit-transform: rotate(158deg);
  -moz-transform: rotate(158deg);
  -o-transform: rotate(158deg);
  transform: rotate(158deg);

  top: 26.4%;
  left: 66.8%;
}
.the-mountain_7 {
  -ms-transform: rotate(158deg);
  -webkit-transform: rotate(158deg);
  -moz-transform: rotate(158deg);
  -o-transform: rotate(158deg);
  transform: rotate(158deg);

  top: 49.7%;
  left: 78.4%;
}
.the-mountain_8 {
  -ms-transform: rotate(158deg);
  -webkit-transform: rotate(158deg);
  -moz-transform: rotate(158deg);
  -o-transform: rotate(158deg);
  transform: rotate(158deg);

  top: 73.2%;
  left: 90.7%;
}
.the-mountain_9 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 85%;
  left: 80.5%;
}
.the-mountain_10 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 85%;
  left: 49%;
}
.the-mountain_11 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 85%;
  left: 17.2%;
}
.the-mountain_12 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 26.2%;
  left: 84%;
}
.the-mountain_13 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 26.2%;
  left: 90%;
}
.the-mountain_14 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 26.2%;
  left: 96%;
}
