.mtck-the-medal_1 {
  -ms-transform: rotate(107deg);
  -webkit-transform: rotate(107deg);
  -moz-transform: rotate(107deg);
  -o-transform: rotate(107deg);
  transform: rotate(107deg);

  top: 19.3%;
  left: 63.5%;
}
.mtck-the-medal_2 {
  -ms-transform: rotate(73deg);
  -webkit-transform: rotate(73deg);
  -moz-transform: rotate(73deg);
  -o-transform: rotate(73deg);
  transform: rotate(73deg);

  top: 19.3%;
  left: 33.5%;
}
.mtck-the-medal_3 {
  -ms-transform: rotate(287deg);
  -webkit-transform: rotate(287deg);
  -moz-transform: rotate(287deg);
  -o-transform: rotate(287deg);
  transform: rotate(287deg);

  top: 27%;
  left: 33.5%;
}
.mtck-the-medal_4 {
  -ms-transform: rotate(253deg);
  -webkit-transform: rotate(253deg);
  -moz-transform: rotate(253deg);
  -o-transform: rotate(253deg);
  transform: rotate(253deg);

  top: 27%;
  left: 63.5%;
}
.mtck-the-medal_5 {
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);

  top: 40%;
  left: 59.5%;
}
.mtck-the-medal_6 {
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);

  top: 58%;
  left: 59.5%;
}
.mtck-the-medal_7 {
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);

  top: 58%;
  left: 37.5%;
}
.mtck-the-medal_8 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  top: 40%;
  left: 37.5%;
}
