.mtck-tree-to-fish_1 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 37.2%;
  left: 25%;
}
.mtck-tree-to-fish_2 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 15%;
  left: 41%;
}
.mtck-tree-to-fish_3 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 48.5%;
  left: 33%;
}
.mtck-tree-to-fish_4 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 48.5%;
  left: 64.5%;
}
.mtck-tree-to-fish_5 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 37%;
  left: 72.4%;
}
.mtck-tree-to-fish_6 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 15%;
  left: 56.5%;
}
.mtck-tree-to-fish_7 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 59.3%;
  left: 40.9%;
}
.mtck-tree-to-fish_8 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 70.3%;
  left: 50%;
}
.mtck-tree-to-fish_9 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 59.3%;
  left: 57%;
}
