.mtck-triple-similarity_1 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 53%;
  left: 80%;
}
.mtck-triple-similarity_2 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 53%;
  left: 48.7%;
}
.mtck-triple-similarity_3 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 53%;
  left: 17%;
}
.mtck-triple-similarity_4 {
  -ms-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  transform: rotate(50deg);

  top: 44.1%;
  left: 12%;
}
.mtck-triple-similarity_5 {
  -ms-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  transform: rotate(50deg);

  top: 28%;
  left: 36.4%;
}
.mtck-triple-similarity_6 {
  -ms-transform: rotate(130deg);
  -webkit-transform: rotate(130deg);
  -moz-transform: rotate(130deg);
  -o-transform: rotate(130deg);
  transform: rotate(130deg);

  top: 28%;
  left: 61.6%;
}
.mtck-triple-similarity_7 {
  -ms-transform: rotate(130deg);
  -webkit-transform: rotate(130deg);
  -moz-transform: rotate(130deg);
  -o-transform: rotate(130deg);
  transform: rotate(130deg);

  top: 44%;
  left: 86%;
}
.mtck-triple-similarity_8 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 31%;
  left: 48.7%;
}
.mtck-triple-similarity_9 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 42%;
  left: 64.7%;
}
.mtck-triple-similarity_10 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 42%;
  left: 33%;
}
