.tulip_1 {
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);

  top: 60.5%;
  left: 35.7%;
}
.tulip_2 {
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);

  top: 43%;
  left: 28.7%;
}
.tulip_3 {
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);

  top: 20%;
  left: 42%;
}
.tulip_4 {
  -ms-transform: rotate(155deg);
  -webkit-transform: rotate(155deg);
  -moz-transform: rotate(155deg);
  -o-transform: rotate(155deg);
  transform: rotate(155deg);

  top: 20%;
  left: 56%;
}
.tulip_5 {
  -ms-transform: rotate(155deg);
  -webkit-transform: rotate(155deg);
  -moz-transform: rotate(155deg);
  -o-transform: rotate(155deg);
  transform: rotate(155deg);

  top: 43%;
  left: 69.7%;
}
.tulip_6 {
  -ms-transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);

  top: 60.5%;
  left: 63%;
}
.tulip_7 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 18%;
  left: 74%;
}
.tulip_8 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 18%;
  left: 78%;
}
