.mtck-tulip_1 {
  -ms-transform: rotate(153deg);
  -webkit-transform: rotate(153deg);
  -moz-transform: rotate(153deg);
  -o-transform: rotate(153deg);
  transform: rotate(153deg);

  top: 20%;
  left: 56%;
}
.mtck-tulip_2 {
  -ms-transform: rotate(153deg);
  -webkit-transform: rotate(153deg);
  -moz-transform: rotate(153deg);
  -o-transform: rotate(153deg);
  transform: rotate(153deg);

  top: 42.5%;
  left: 70.4%;
}
.mtck-tulip_3 {
  -ms-transform: rotate(243deg);
  -webkit-transform: rotate(243deg);
  -moz-transform: rotate(243deg);
  -o-transform: rotate(243deg);
  transform: rotate(243deg);

  top: 59.6%;
  left: 63.6%;
}
.mtck-tulip_4 {
  -ms-transform: rotate(297deg);
  -webkit-transform: rotate(297deg);
  -moz-transform: rotate(297deg);
  -o-transform: rotate(297deg);
  transform: rotate(297deg);

  top: 59.8%;
  left: 35.5%;
}
.mtck-tulip_5 {
  -ms-transform: rotate(27deg);
  -webkit-transform: rotate(27deg);
  -moz-transform: rotate(27deg);
  -o-transform: rotate(27deg);
  transform: rotate(27deg);

  top: 42.5%;
  left: 28.2%;
}
.mtck-tulip_6 {
  -ms-transform: rotate(27deg);
  -webkit-transform: rotate(27deg);
  -moz-transform: rotate(27deg);
  -o-transform: rotate(27deg);
  transform: rotate(27deg);

  top: 20%;
  left: 42.4%;
}
.mtck-tulip_7 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 19%;
  left: 74%;
}
.mtck-tulip_8 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 19%;
  left: 80%;
}
