.changed-two-antennas-to-14-squares {
  height: 18%;
}

.mtck-two-antennas-to-14-squares_1 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 4.4%;
  left: 13.8%;
}
.mtck-two-antennas-to-14-squares_2 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 4.4%;
  left: 36.6%;
}
.mtck-two-antennas-to-14-squares_3 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 4.4%;
  left: 59.6%;
}
.mtck-two-antennas-to-14-squares_4 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 4.4%;
  left: 82.2%;
}
.mtck-two-antennas-to-14-squares_5 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 13.8%;
  left: 25.2%;
}
.mtck-two-antennas-to-14-squares_6 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 13.8%;
  left: 70.8%;
}
.mtck-two-antennas-to-14-squares_7 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 22.8%;
  left: 13.8%;
}
.mtck-two-antennas-to-14-squares_8 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 22.8%;
  left: 36.6%;
}
.mtck-two-antennas-to-14-squares_9 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 22.8%;
  left: 59.7%;
}
.mtck-two-antennas-to-14-squares_10 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 22.8%;
  left: 82.2%;
}
.mtck-two-antennas-to-14-squares_11 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 32%;
  left: 25.2%;
}
.mtck-two-antennas-to-14-squares_12 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 32%;
  left: 70.8%;
}
.mtck-two-antennas-to-14-squares_13 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 41.4%;
  left: 14%;
}
.mtck-two-antennas-to-14-squares_14 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 41.4%;
  left: 36.8%;
}
.mtck-two-antennas-to-14-squares_15 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 41.4%;
  left: 59.4%;
}
.mtck-two-antennas-to-14-squares_16 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 41.4%;
  left: 82.3%;
}
.mtck-two-antennas-to-14-squares_17 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 50.3%;
  left: 25.2%;
}
.mtck-two-antennas-to-14-squares_18 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 50.3%;
  left: 70.8%;
}
.mtck-two-antennas-to-14-squares_19 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 59.3%;
  left: 13.6%;
}
.mtck-two-antennas-to-14-squares_20 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 59.3%;
  left: 36.6%;
}
.mtck-two-antennas-to-14-squares_21 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 59.3%;
  left: 59.6%;
}
.mtck-two-antennas-to-14-squares_22 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 59.3%;
  left: 82.3%;
}
.mtck-two-antennas-to-14-squares_23 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 68.5%;
  left: 25.2%;
}
.mtck-two-antennas-to-14-squares_24 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 68.5%;
  left: 70.8%;
}
