.mtck-two-matching-areas_1 {
  -ms-transform: rotate(306deg);
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -o-transform: rotate(306deg);
  transform: rotate(306deg);

  top: 12.2%;
  left: 79%;
}
.mtck-two-matching-areas_2 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  top: 17.3%;
  left: 66.2%;
}
.mtck-two-matching-areas_3 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 29.8%;
  left: 50.6%;
}
.mtck-two-matching-areas_4 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 29.8%;
  left: 19%;
}
.mtck-two-matching-areas_5 {
  -ms-transform: rotate(126deg);
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);

  top: 37.7%;
  left: 15.9%;
}
.mtck-two-matching-areas_6 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  top: 57.4%;
  left: 28.4%;
}
.mtck-two-matching-areas_7 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 70.1%;
  left: 44.3%;
}
.mtck-two-matching-areas_8 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 70.1%;
  left: 75.8%;
}
.mtck-two-matching-areas_9 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 57.7%;
  left: 91.5%;
}
.mtck-two-matching-areas_10 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 32.3%;
  left: 91.3%;
}
.mtck-two-matching-areas_11 {
  -ms-transform: rotate(36deg);
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);

  top: 39.8%;
  left: 57.1%;
}
.mtck-two-matching-areas_12 {
  -ms-transform: rotate(36deg);
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);

  top: 60.2%;
  left: 38.4%;
}
.mtck-two-matching-areas_13 {
  -ms-transform: rotate(126deg);
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);

  top: 37.8%;
  left: 79%;
}
