.mtck-vii-i_1 {
  -ms-transform: rotate(345deg);
  -webkit-transform: rotate(345deg);
  -moz-transform: rotate(345deg);
  -o-transform: rotate(345deg);
  transform: rotate(345deg);

  top: 37.5%;
  left: 14.8%;
}
.mtck-vii-i_2 {
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);

  top: 37.5%;
  left: 23.3%;
}
.mtck-vii-i_3 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 37.5%;
  left: 33%;
}
.mtck-vii-i_4 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 37.5%;
  left: 36.9%;
}
.mtck-vii-i_5 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 39.5%;
  left: 59.6%;
}
.mtck-vii-i_6 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 35.1%;
  left: 59.6%;
}
.mtck-vii-i_7 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 35.8%;
  left: 85.5%;
}
