.mtck-wine-glasses-to-a-house-v2_1 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 13.5%;
  left: 32.5%;
}
.mtck-wine-glasses-to-a-house-v2_2 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 24.1%;
  left: 24.2%;
}
.mtck-wine-glasses-to-a-house-v2_3 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 24.1%;
  left: 40.7%;
}
.mtck-wine-glasses-to-a-house-v2_4 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 47.6%;
  left: 32.4%;
}
.mtck-wine-glasses-to-a-house-v2_5 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 59.8%;
  left: 32.5%;
}
.mtck-wine-glasses-to-a-house-v2_6 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 13.5%;
  left: 65.1%;
}
.mtck-wine-glasses-to-a-house-v2_7 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 24.1%;
  left: 56.8%;
}
.mtck-wine-glasses-to-a-house-v2_8 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 24.1%;
  left: 73.3%;
}
.mtck-wine-glasses-to-a-house-v2_9 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 47.6%;
  left: 65%;
}
.mtck-wine-glasses-to-a-house-v2_10 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 59.8%;
  left: 65%;
}
