.changed-x-v-iv {
  height: 19%;
}
.mtck-x-v-iv_1 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 40.5%;
  left: 6.5%;
}
.mtck-x-v-iv_2 {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);

  top: 40.5%;
  left: 6.5%;
}
.mtck-x-v-iv_3 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 40.5%;
  left: 27%;
}
.mtck-x-v-iv_4 {
  -ms-transform: rotate(345deg);
  -webkit-transform: rotate(345deg);
  -moz-transform: rotate(345deg);
  -o-transform: rotate(345deg);
  transform: rotate(345deg);

  top: 40.5%;
  left: 42%;
}
.mtck-x-v-iv_5 {
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);

  top: 40.5%;
  left: 48%;
}
.mtck-x-v-iv_6 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 44.5%;
  left: 63.5%;
}
.mtck-x-v-iv_7 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 40.5%;
  left: 63.5%;
}
.mtck-x-v-iv_8 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 40.5%;
  left: 79.7%;
}
.mtck-x-v-iv_9 {
  -ms-transform: rotate(345deg);
  -webkit-transform: rotate(345deg);
  -moz-transform: rotate(345deg);
  -o-transform: rotate(345deg);
  transform: rotate(345deg);

  top: 40.5%;
  left: 86.7%;
}
.mtck-x-v-iv_10 {
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);

  top: 40.5%;
  left: 93%;
}
